// Modal window
#loginForm {
  height: 45%;
  min-height: 27rem;

  .modal-content {
    height: 100%;
  }
}

.login-form {
  .row {
    display: flex;
    margin-bottom: .5rem;

    .input-field {
      margin-right: auto;
    }
  }

  .error {
    color: red;
    text-align: center;
  }
}
