// Modal window
#loginForm {
  height: 45%;
  min-height: 25rem;

  .modal-content {
    height: 100%;
  }
}

.login-form {
  .row {
    display: flex;

    .input-field {
      margin-right: auto;
    }
  }
}
